$energized: #26C281 !default;
@import "scss/ionic";

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

#home{
  .formula-enter-content {
    label {
      @include border-radius(10px);
    }
    i{
      font-size: 21px;
    }
    input[type=text]{
      color:#666;
    }
  }
}
.bar-energized h1{
  font-weight: bold;
  letter-spacing: 2px;
}
.no-padding{
  padding:0;
}
.no-margin{
  margin:0;
}
.no-border{
  border:none;
}
#keyboard{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  background: #EEE;
  @include transition(top 1s);

  input[type=button]{
    color:#000;
  }
}
.keyboard-shown{
  top: 25% !important;
}
.keyboard-hidden{
  top: 100% !important;
}