<!--
Custom keyboard for solve math problems
-->
<div id="keyboard" ng-class="animationClass">
  <div class="row">
    <div class="col"><button ng-click="writeOnTop(1)" class="button button-stable">1</button></div>
    <div class="col"><button ng-click="writeOnTop(2)" class="button button-stable">2</button></div>
    <div class="col"><button ng-click="writeOnTop(3)" class="button button-stable">3</button></div>
    <div class="col"><button ng-click="writeOnTop(1)" class="button button-stable">4</button></div>
    <div class="col"><button ng-click="writeOnTop(5)" class="button button-stable">5</button></div>
  </div>
  <div class="row">
    <div class="col"><button ng-click="writeOnTop(6)" class="button button-stable">6</button></div>
    <div class="col"><button ng-click="writeOnTop(7)" class="button button-stable">7</button></div>
    <div class="col"><button ng-click="writeOnTop(8)" class="button button-stable">8</button></div>
    <div class="col"><button ng-click="writeOnTop(9)" class="button button-stable">9</button></div>
    <div class="col"><button ng-click="writeOnTop(0)" class="button button-stable">0</button></div>
  </div>
  <div class="row">
    <div class="col"><button ng-click="writeOnTop('+')" class="button button-stable">+</button></div>
    <div class="col"><button ng-click="writeOnTop('-')" class="button button-stable">-</button></div>
    <div class="col"><button ng-click="writeOnTop('&times;')" class="button button-stable">&times;</button></div>
    <div class="col"><button ng-click="writeOnTop('&divide;')" class="button button-stable">&divide;</button></div>
    <div class="col"><button ng-click="writeOnTop('&circ;')" class="button button-stable">&circ;</button></div>
  </div>
  <div class="row">
    <div class="col"><button ng-click="writeOnTop('&radic;')" class="button button-stable">&radic;</button></div>
    <div class="col"><button ng-click="writeOnTop('&sdot;')" class="button button-stable">&sdot;</button></div>
    <div class="col"><button ng-click="writeOnTop('(')" class="button button-stable">(</button></div>
    <div class="col"><button ng-click="writeOnTop(')')" class="button button-stable">)</button></div>
    <div class="col"><button ng-click="writeOnTop('&frasl;')" class="button button-stable">&frasl;</button></div>
  </div>
  <div class="row">
    <div class="col"><button ng-click="writeOnTop('a')" class="button button-stable">a</button></div>
    <div class="col"><button ng-click="writeOnTop('b')" class="button button-stable">b</button></div>
    <div class="col"><button ng-click="writeOnTop('c')" class="button button-stable">c</button></div>
    <div class="col"><button ng-click="writeOnTop('d')" class="button button-stable">d</button></div>
    <div class="col"><button ng-click="writeOnTop('e')" class="button button-stable">e</button></div>
  </div>
  <div class="row">
    <div class="col col-100"><button ng-click="solveProblem()" class="button button-block button-energized">Solve!</button></div>
  </div>
</div>