<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-energized tabs-icon-only view tabs-striped">
  <ion-tab title="Home" icon="ion-android-book">
    <!-- Tab 1 content -->
  </ion-tab>

  <!-- Home Tab -->
  <ion-tab title="About" icon="ion-ios7-home">
    <ion-nav-view name="homeContent" animation="slide-left-right"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon="ion-person">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>